.videoSection{
    width: 80%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.videoCard{
    display: flex;
    margin-bottom: 1rem;
    
}
.videoCard__thumbnail{
    width: 246px;
    height: 138px;
    object-fit: cover;
    margin-bottom: 1rem;
}
.videoCard__info{
    color: #606060;
    display: flex;
    font-size: 13px;
}
.views{
    margin-left: .7rem;
}
.title{
font-size: 18px;
color:#1B1813;
}
.description{
    margin-top: 0.4rem;
    width: 550px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display:block;
    color: #606060;
}

